/* css login */

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.botao {

    margin-top: auto !important;
    margin-bottom: auto !important;
    height: 25px !important;
    ;
}

.botao button {
    height: 100% !important;
    ;
}
#Entrar{
    text-decoration: none;
}

.card {
    background-color: orange;
    border-radius: 40px;
    box-shadow: 0px 10px 20px #00000056;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 35px;
    height: 110%;
    width: 100%;
}

.format {
    color: black;
}

.btn-primary {
    text-align: center;
    background-color: #003158;
    color: #ffffff;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
    
}

.btn-primary:hover {
    background-color: #012a4b;
    color: #ffffff;
}

.form-control {
    background-color: #003158;
    color: #ffffff;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.login {
    font-size: 40px;
    text-align: center;

}

label {
    font-weight: bold;
}

.esqueci-senha {
    color: black;

}

.span-footer{
    color: #fff;
}

.span-footer a{
    color: #003158;
    
    
}

.footer{
    background-color: 	#003158;
}

.icones-footer a{
    color: #fff;
    margin: 10px;
    text-decoration: none
}
.tira a{
    text-decoration: none
}

/* css login */


.form-control:focus {
    background-color: #003158;
    color: #ffffff;
}

.form-control::placeholder {
    color: #ffffff;
}


.container-fluid {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* css tela de chamados */

.menu ul {
    list-style-type: 0;
    padding: 0;
    margin: 0;
}

.menu li {
    background-color: orange;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 8px;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s;
}

.menu li:hover {
    filter: drop-shadow(10px 10px 5px rgb(0, 0, 0, .5));
    -webkit-filter: drop-shadow(10px 10px 5px rgb(0, 0, 0, .5));
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
   
}

body * {
    box-sizing: border-box;
}

.main-screen {
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.left-screen {
    align-items: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    width: 50vw;
}

.left-screen h1 {
    color: gray;
}

.right-screen {
    align-items: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
}

.img-ea {
    image-resolution: 100%;
    margin-top: 100px;
    width: 150px;
    height: 100px;
}

.card-chamados {
    background: orange;
    border-radius: 40px;
    box-shadow: 0px 10px 20px #00000056;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 25px;
    width: 60%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.textfield select {
    background: rgb(25, 92, 145);
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, .5);
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    outline: none;
}

.textfield textarea {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    outline: none;
}

.textfield label {
    margin-bottom: 10px;
}

.button {
    align-items: center;
    background-color: rgb(25, 92, 145);
    border: none;
    border-radius: 50px;
    color: white;
    display: flex;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}
.button a{
    text-decoration: none;
}

.button:hover {
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .5));
}

.file {
    display: none;
}

.label-input {
    margin-top: 35px;
    background-color: rgb(25, 92, 145);
    border-radius: 50px;
    color: white;
    padding: 10px 8px;
}

.label-input:hover {
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .5));
}


@media only screen and (max-width:950px) {
    .card-chamados {
        width: 85%;
    }
}

@media only screen and (max-width:600px) {
    .main-screen {
        flex-direction: column;
    }

    .left-screen h1 {
        display: none;
    }

    .left-screen {
        height: auto;
        width: 100%;
    }

    .left-screen img {
        margin-top: vh;
    }

    .right-screen {
        height: auto;
        margin-bottom: 25%;
        margin-top: 80px;
        width: 100%;
    }

    .card-chamados {
        width: 90%;
        margin-bottom: 25px;
    }

    .file {
        height: auto;
        width: 90%;
    }
    
     .footer{
        margin-top: 180px;
    }
    
    
    @media only screen and (max-width: 380px) {

        .left-screen img {
            margin-top: 50vh;
        }
        
        .footer{
            margin-top: 250px;
        }

        .offcanvas{
            width: 250px !important;
        }
    }

}

/* css tela de chamados */


/* css esqueci senha */

.card {
    background-color: orange;
    border-radius: 40px;
    box-shadow: 0px 10px 20px #00000056;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 35px;
    height: 110%;
    width: 100%;
}

.btn-primary {
    text-align: center;
    background-color: #003158;
    color: #ffffff;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight:lighter;
}

.btn-primary:hover {
    background-color: #012a4b;
    color: #ffffff;
}

.small{
    color: black;
}

/* css esqueci senha */

/* tela de bem vindo adm */

/* .offcanvas {
    background-color: rgb(0, 49, 88) !important;
    width: 300px !important;
    height: 100% !important;
    position: fixed !important;
    left: -300px !important;

}


.offcanvas-body ul {
    list-style: none;
}

.offcanvas-body {
    background-color: #003158 !important;
}

.offcanvas-body ul li {
    line-height: auto !important;
    line-height: 40px;
}

.offcanvas-body ul li a {
    color: white !important;
    text-decoration: none !important;
    font-size: 21px !important;
    display: block !important;

}

.offcanvas-body ul li a:hover {
    background-color: gray !important;
    transform: scale(1.1);
    margin: 0;
} */

.btnAbre {
    position: absolute;
    top: 15px;
    left: 30px;
    background-color: rgb(0, 49, 88);
    color: white;
    cursor: pointer;
    top: 20px !important;
    border: 30 !important;

}

.offcanvas-start.mostra {
    left: 0 !important;
}

.btn-close {
    position: relative !important;
    cursor: pointer !important;
}

.btn-close:hover {
    border: 1px solid white !important;
}

/* tela de bem vindo adm */


/* css chamados do cliente */

.menu ul{
    list-style-type: 0;
    padding: 0;
    margin: 0;
}
.menu li{
    background-color: orange;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 8px;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 20px;
    padding: 10px 20px ;  
    text-align: center;
    text-decoration: none;
    transition: all 0.5s;
}
.menu li:hover{
    filter: drop-shadow(10px 10px 5px  rgb(0,0,0,.5));
    -webkit-filter: drop-shadow(10px 10px 5px  rgb(0,0,0,.5));
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

main h1{
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 50px;
}

.tableHeader{
    background-color: orange;
    text-align: center;
    margin-bottom: 30px;
}

/* css chamados do cliente */

/* offcanvas - sidebar */

.buttonIcon{
    background-color: rgb(0, 49, 88);
    border: none;
    color: white;
}

.menu-item{
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 50px;
}
.menu-item:hover{
   color: orange !important;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,.5));
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,.5));
}

.h-color{
    border-color: white; 
}

/* offcanvas - sidebar */

/*css cadastro_usuario*/
* {
    margin: 0;
    /* margem */
    border: 0;
    /* borda */
    padding: 0;
    /* distância entre elemento e a borda */
    box-sizing: border-box;
    /* relação width e height*/
    font-family: 'Open Sans', sans-serif;
}

/*body {
    background-image: url("../img/fundo.jpg");
    background-repeat: no-repeat;
}*/

.form-cadastrar-usuario{
    background-color: orange;
    border-radius: 2.5em;
    margin: 0 auto;
    width: 27%;
    height: 25%;
    padding: 1em;
    margin-top: 1%;
    border: 4px solid orange;
    box-shadow: 0px 20px 20px #00000056;
}

.footer-cadastro {
    /* deixa fixo */
    /* position: fixed;
    bottom: -0.1%;
    left:0;  */
    width: 100%;
    background-color:#003158;
}

label {
    font-weight: bold;
    font-size: 12px;
    /* deixa em negrito*/
}

label, input {
    margin-left: 5%; 
}

/* Mudar cor da barra de navegação */
nav {
    background-color: #003158;
    top: 0;
    height: 8%;
    width: 100%;
    display: flex;
    position: fixed;
}

.buttonCadastro {
    margin-left: 40%;
    color: #003158;
}

.buttonClass {
    font-size: 12px;
    width: 120px;
    height: 30px;
    border-width: 1px;
    color: #fff;
    background: rgba(0, 49, 88, 1);
    margin-left: 30%;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
}

.buttonNav {
    background-color: orange;
    margin-top: 0.7%;
    margin-left: 86%;
    width: 85px;
    height: 23px;
    border-width: 1px;
    border-radius: 1.5em;
    position: absolute;
    cursor: pointer;
}

.buttonNav2 {
    background-color: orange;
    margin-top: 0.7%;
    margin-left: 77%;
    width: 85px;
    height: 23px;
    border-width: 1px;
    border-radius: 1.5em;
    position: absolute;
    cursor: pointer;
}

.buttonNav3 {
    background-color: orange;
    margin-top: 0.7%;
    margin-left: 68%;
    width: 85px;
    height: 23px;
    border-width: 1px;
    border-radius: 1.5em;
    position: absolute;
    cursor: pointer;
}

.buttonNav4 {
    margin-top: 0.6%;
    margin-left: 95%;
    position: absolute;
    width: 25px;
    cursor: pointer;
}

.buttonNav5 {
    margin-top: 0.8%;
    margin-left: 2%;
    width: 22px;
    cursor: pointer;
}

/* MUDA A COR DO PLACEHOLDER */
input::placeholder {
    padding: 12px;
    color: #fff;
    font-size: 11px;
}

.teste {
    background-image: url(../img/botao.png);
}

#formulario input {
    font-size: 12px;
    background-color: #003158;
    border-color: white;
    border-radius: 1.5em;
    width: 70%;
    height: 27px;
}
#inputEmail,#inputMatricula,#inputNome,#inputCpf,#inputRg,#inputTelefone,#inputSelecione,#placeholder {
    background-color: #003158;
    color: #ffffff;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;

}
.color{
    color: white;
    
}
    


#formulario input.campo_matricula {
    margin-left: 1.5%;
}

#formulario input.campo_nome {
    margin-top: 1%;
    margin-left: 8%;
}

#formulario input.campo_cpf {
    margin-top: 1%;
    margin-left: 11%;
}

#formulario input.campo_rg {
    margin-top: 1%;
    margin-left: 13%;
}

#formulario input.campo_email {
    margin-top: 1%;
    margin-left: 8.5%;
}

#formulario input.campo_telefone {
    margin-top: 1%;
    margin-left: 3%;
}

#formulario select.form_tipo {
    color: white;
    background-color: #003158;
    font-size: 12px;
    border-radius: 0.5em;
    margin-left: 10.5%;
    width: 70%;
    height: 33px;
    margin-top: 1%;
    border-radius: 2.5em;
}

#formulario h2 {
    color: black;
    font-size: 15px;
}

#formulario img {
    margin-left: 38%;
}
.btn-warning{
    background-color: orange;
    border-radius: 25px;
}
.btn-usuario{
    color:#003158;

    padding: 0 15px;

}
.card-cadastrar{
   
    background-color: orange;
    border-radius: 40px;
    box-shadow: 0px 10px 20px #00000056;   
    flex-direction: column;
    padding: 30px 35px;
    height: 700x;
    width: 30px;
}

.img-cadastrar-usuario{
    width: 100%;
}

.section-cadastrar{
    height: 100vh;
    margin-top: 15px;
    margin-bottom: 34px;
}

    
